---
import PostList from "../../components/Blog/PostList.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout
  pageTitle="Blog"
  description="Index of Matthew Mercuri's blog posts."
>
  <main class="content-wrapper">
    <PostList />
  </main>
</BaseLayout>

<style lang="scss">
  main {
    margin-top: 3rem;
  }
</style>
