@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-VariableFont.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Italic-VariableFont.ttf') format('ttf');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

:root {
  --primary-bg: #212121;
  --primary-text: #f4f4f4;
  --accent-light-blue: #4BB3FD;
  --accent-dark-blue: #00487C;
}

/* https://www.joshwcomeau.com/css/custom-css-reset/ */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--primary-bg);
  color: var(--primary-text);
}

html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.main-wrapper {
  flex-grow: 1;
}

.content-wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}