@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-VariableFont.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Italic-VariableFont.ttf') format('ttf');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

body {
  font-family: 'Montserrat', sans-serif;
}