---
import BaseLayout from "../layouts/BaseLayout.astro";
import PostList from "../components/Blog/PostList.astro";
---

<BaseLayout>
	<main class="content-wrapper">
		<h1>Matthew Mercuri</h1>
		<h2>Development | Data Science | Quantitative Finance</h2>
		<PostList />
	</main>
</BaseLayout>

<style lang="scss">
	h1 {
		font-size: 2.5rem;
		text-align: center;
		margin-top: 5rem;
		line-height: 1.1;
	}

	h2 {
		text-align: center;
		text-transform: uppercase;
		font-size: 1.25rem;
		font-weight: 300;
		margin-bottom: 2rem;
	}

	@media only screen and (min-width: 48em) {
		h1 {
			font-size: 4rem;
		}

		h2 {
			font-size: 1.5rem;
		}
	}
</style>
