---
import GitHubIcon from "../../public/social-icons/github.svg";
import LinkedInIcon from "../../public/social-icons/linkedin.svg";
---

<footer>
  <a><img src={GitHubIcon} /></a>
  <a><img src={LinkedInIcon} /></a>
</footer>
