---
import { getCollection } from "astro:content";
import { isDev } from "../../constants";

const posts = (await getCollection("blog"))
  .sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf())
  .filter((post) => (post.data.isDraft && !isDev ? false : true));
---

<>
  <h3>Posts</h3>
  {posts.map((post) => <li>{post.data.title}</li>)}
</>

<style>
  h3 {
    font-size: 2rem;
    font-weight: bold;
  }
</style>
