---
import FormattedDate from "../Blog/FormattedDate.astro";
import { getCollection } from "astro:content";
import { isDev } from "../../constants";

const posts = (await getCollection("blog"))
  .sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf())
  .filter((post) => (post.data.isDraft && !isDev ? false : true));
---

<>
  <h3>Posts</h3>
  {
    posts.map((post) => (
      <li>
        <FormattedDate date={post.data.pubDate} />
        <a href={`/blog/${post.slug}`}>{post.data.title}</a>
      </li>
    ))
  }
</>

<style lang="scss">
  h3 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  li {
    a {
      margin-left: 0.5rem;
      font-size: 1.5rem;
      text-decoration: underline;

      &:hover {
        color: var(--accent-light-blue);
      }
    }
  }
</style>
