---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
---

<!DOCTYPE html>
<html lang="en">
  <BaseHead />
  <body>
    <div class="main-wrapper">
      <slot />
    </div>
    <Footer />
  </body>
</html>
